<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSpec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD199C461EC592D4003F90B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD199C5F1EC592D4003F90B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD199C6A1EC592D4003F90B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
